<?php echo $this->tag->form("register/store"); ?>
    <p>
        <label for="name">Name</label>
        <?php echo $this->tag->textField("name"); ?>
    </p>
    <p>
        <label for="email">Email</label>
        <?php echo $this->tag->emailField("email"); ?>
    </p>
    <p>
        <label for="name">Password</label>
        <?php echo $this->tag->passwordField("password"); ?>
    </p>

    <p>
        <?php echo $this->tag->submitButton("Register"); ?>
    </p>

</form>