<?php echo $this->tag->form("role/store"); ?>

    <p>
        <label for="name">Name</label>
        <?php echo $this->tag->textField("name"); ?>
    </p>

    <p>
        <?php echo $this->tag->submitButton("Create"); ?>
    </p>

</form>