<?php echo $this->tag->form("role/update/".$role->id); ?>

    <p>
        <label for="name">Name</label>
        <?php echo $this->tag->textField([
            "name",
            "value" => $role->name
        ]); ?>
    </p>

    <p>
        <?php echo $this->tag->submitButton("Edit"); ?>
    </p>

</form>