<?php

echo $this->tag->linkTo(["role/create", "Create Role", 'class' => 'btn btn-primary mb-5']);


if ($roles->count() > 0) {
    ?>
    <table class="table table-bordered table-hover">
        <thead class="thead-light">
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td colspan="3">Users quantity: <?php echo $roles->count(); ?></td>
            </tr>
        </tfoot>
        <tbody>
            <?php foreach ($roles as $role) { ?>
                <tr>
                    <td><?php echo $role->id; ?></td>
                    <td><?php echo $role->name; ?></td>
                    <td>
                        <a href="role/edit/<?php echo $role->id; ?>">Edit</a>
                        <a href="role/delete/<?php echo $role->id; ?>">Delete</a>
                    </td>
                </tr>
            <?php } ?>
        </tbody>
    </table>
    <?php
}