<?php echo $this->tag->form("user/store"); ?>

    <p>
        <label for="name">Name</label>
        <?php echo $this->tag->textField("name"); ?>
    </p>

    <p>
        <label for="email">E-Mail</label>
        <?php echo $this->tag->textField("email"); ?>
    </p>

    <p>
        <label for="password">Password</label>
        <?php echo $this->tag->textField("password"); ?>
    </p>

    <p>
        <label for="role_id">Role</label>
        <?php echo $this->tag->select(
        	[
	        	"role_id", 
	        	$roles, 
	        	"using" => ["id", "name"],
                "class" => "pl-2 pr-2 pb-1 pt-1"
	        ]
    	); ?>
    </p>

    <p>
        <?php echo $this->tag->submitButton("Create"); ?>
    </p>

</form>