<?php echo $this->tag->form("user/update/".$user->id); ?>

    <p>
        <label for="name">Name</label>
        <?php echo $this->tag->textField([
            "name",
            "value" => $user->name
        ]); ?>
    </p>

    <p>
        <label for="email">E-Mail</label>
        <?php echo $this->tag->textField([
            "email",
            "value" => $user->email
        ]); ?>
    </p>

    <p>
        <label for="role_id">Role</label>
        <select id="role_id" name="role_id">
            <?php foreach($roles as $role) { 
                if($role->id == $user->role_id) { ?>
                    <option value="<?php echo $role->id ?>" selected ><?php echo $role->name ?></option>
                <?php } else { ?>
                    <option value="<?php echo $role->id ?>"><?php echo $role->name ?></option>
            <?php } } ?>
        </select>
    </p>

    <p>
        <?php echo $this->tag->submitButton("Edit"); ?>
    </p>

</form>