<div class="alert alert-<?php echo $success === true ? 'success' : 'danger'; ?>">
    <?php echo $message ?? ''; ?>
</div>

<?php

echo $this->tag->linkTo(["user/create", "Create User", 'class' => 'btn btn-primary mb-5']);

if ($users->count() > 0) {
    ?>
    <table class="table table-bordered table-hover">
        <thead class="thead-light">
        <tr>
            <th>#</th>
            <th>Role</th>
            <th>Name</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <td colspan="3">Users quantity: <?php echo $users->count(); ?></td>
        </tr>
        </tfoot>
        <tbody>
        <?php foreach ($users as $user) { ?>
            <tr>
                <td><?php echo $user->id; ?></td>
                <td><?php echo $user->role->name; ?></td>
                <td><?php echo $user->name; ?></td>
                <td><?php echo $user->email; ?></td>
                <td>
                    <a href="user/edit/<?php echo $user->id; ?>">Edit</a>
                    <a href="user/delete/<?php echo $user->id; ?>">Delete</a>
                </td>
            </tr>
        <?php } ?>
        </tbody>
    </table>
    <?php
}