<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Appointments</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="users" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Users
                </a>
                <div class="dropdown-menu" aria-labelledby="users">
                    <a class="dropdown-item" href="/user">Home</a>
                    <a class="dropdown-item" href="/user/create">Create</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="roles" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Roles
                </a>
                <div class="dropdown-menu" aria-labelledby="roles">
                    <a class="dropdown-item" href="/role">Home</a>
                    <a class="dropdown-item" href="/role/create">Create</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<div class='content'>
    <div class="row">
        <div class="col-10 offset-1">
            <?php echo $this->getContent(); ?>
        </div>
    </div>    
</div>