<?php if(isset($title)) {?>
	<div class="pt-3 pb-3">
		<h2><?php echo $title; ?></h2>
	</div>
<?php } ?>

<?php if(isset($success)) { ?>
	<div class="alert alert-<?php echo $success === true ? 'success' : 'danger'; ?>">
	    <?php echo $message ?? ''; ?>
	</div>
<?php } ?>

<?php echo $this->getContent(); ?>